@{
    Layout = null;
}
@model school.Model.VO.TeacherInfoVO
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> - 基本表单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/ad/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/ad/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/ad/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/ad/css/animate.css" rel="stylesheet">
    <link href="/ad/css/style.css?v=4.1.0" rel="stylesheet">

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">


</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>内容</h5>
                        <div class="ibox-tools">
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input type="text" id="Name" class="form-control" value="@Model.Name" />
                                    </div>

                                    <div class="form-group">
                                        <label>用户名</label>
                                        <input type="text" id="UserName" class="form-control" value="@Model.UserName" />
                                    </div>

                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="text" id="Pwd" class="form-control" value="@Model.Pwd" />
                                    </div>
                                    <div class="form-group">
                                        <label>评价</label>
                                        <input type="text" id="Valuation" class="form-control" value="@Model.Valuation" />
                                    </div>

                                    <div class="form-group">
                                        <label>教龄</label>
                                        <input type="text" id="Year" class="form-control" value="@Model.Year" />
                                    </div>

                                    <div class="form-group">
                                        <label>电话</label>
                                        <input type="text" id="Tel" class="form-control" value="@Model.Tel" />
                                    </div>

                                    <div class="form-group">
                                        <label>简介</label>
                                        <input type="text" id="SubMain" class="form-control" value="@Model.SubMain" />
                                    </div>
                                    <div class="form-group">
                                        <label>排序</label>
                                        <input type="text" id="Sort" class="form-control" value="@Model.Sort" />
                                    </div>
                                    <div class="send_task_box">
                                        <div id="upload">
                                            <image class="icon" id="imgs2" src="@(string.IsNullOrEmpty(Model.HeadImgUrl)?"/images/icon_camera.png":Model.HeadImgUrl)" style="width:50px;height:50px;" bindtap="chooseVideo"></image>
                                            <div class="name" bindtap="chooseVideo">
                                                上传
                                                <div class="desc">图片</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="button" id="btn">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        @*<div class="btn_group float_after" id="camrea_tip" style="display: none;">
                <div class="tip float_left">您已选择视频，是否提交？</div>
                <div class="btn float_right" id="btn">提交</div>
            </div>*@
    </div>

    <!-- 全局js -->
    <script src="/ad/js/jquery.min.js?v=2.1.4"></script>
    <script src="/ad/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script src="/ad/js/content.js?v=1.0.0"></script>
    <!-- iCheck -->
    @*<script src="/ad/js/plugins/iCheck/icheck.min.js"></script>*@
    <script src="/layui/layui.js"></script>



    <script type="text/javascript">
       var src = "@Model.HeadImgUrl";
      layui.use('upload', function () {
         var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            , url: '/wapi/user/UploadP/' //上传接口
            , accept: "file"
            , auto: true //是否开启自动上传
            , choose: function (obj) {
                var files = obj.pushFile();
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function (index, file, result) {
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    console.log(result); //得到文件base64编码，比如图片
                    var flag = 0;
                    var arr = (file.type).split("/");
                    delete files[index];

                });
            }
            //, bindAction: "#btn"
            , done: function (res) {
                //src = res.Body.Model.Str;
                src = "@System.Web.Configuration.WebConfigurationManager.AppSettings["DomainName"]" + res.Body.Model.Str;
                $("#imgs2").attr("src", res.Body.Model.Str);
                alert("上传成功");
            }
            , error: function (res) {
                alert("上传失败！");
            }
        });
    });

    $(function () {
        $("#btn").click(function () {
            $.ajax({
                headers: { 'Content-Type': 'application/json;charset=utf8', 'MyHeader': "{'UserKey':'00afe21d-8204-4b95-a8df-3a34952909a8'}" },
                url: "/wapi/Wadmin/UpdateTeacherInfo",
                type: "post",
                dataType: "json",
                data: JSON.stringify({
                    "Id": '@ViewBag.Id',
                    "Pic": src,
                    "SubMain": $("#SubMain").val(),
                    "Tel": $("#Tel").val(),
                    "Year": $("#Year").val(),
                    "Valuation": $("#Valuation").val(),
                    "Sort": $("#Sort").val(),
                    "Name": $("#Name").val(),
                    "UserName": $("#UserName").val(),
                    "Pwd": $("#Pwd").val(),
                }),
                success: function (data) {
                    alert("操作成功");
                    window.location.href = "/admin/teacherlist";
                }, error: function (res) {
                    alert("操作失败！");
                }
            })
        });
    })
    </script>

    @*<script>
            function query(id) {
                alert('ajax请求之前');
                $.ajax({
                    url: "/wapi/Wadmin/Ste",
                    async: true,
                    type: "POST",
                    data: {
                        "studentId": $("#test").val(),
                        "StudentClassId": id
                    },
                    // 成功后开启模态框
                    success: alert("操作成功");
                    error: function () {
                        alert("请求失败");
                    },
                    dataType: "json"
                });
            }

            //$(document).ready(function () {
            //    $("#tj").Click({
            //        $("#test").val("asdasd");
            //        //alert(aa);
            //         //ss:  $("#id").val(),
            //    });
            //});

            //$(document).ready(function () {
            //    $('.i-checks').iCheck({
            //        checkboxClass: 'icheckbox_square-green',
            //        radioClass: 'iradio_square-green',
            //    });
            //});
            function showQuery(data) {
            }
        </script>*@


</body>
</html>
